--no-index
--find-links=/usr/local/airflow/plugins
PyPardot4
watchtower
wrapt
greenlet
SQLAlchemy
PyYAML
googleads
smart_open
ijson
snowflake-connector-python
snowflake-sqlalchemy
simple-salesforce
apache-airflow-providers-http
apache-airflow-providers-slack
apache-airflow-providers-postgres
apache-airflow-providers-salesforce
apache-airflow-providers-amazon